.container {
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
  text-align: center;
  gap: 50px;

  .info {
    width: 30%;

    h3 {
      border: 1px solid #ccc;
      margin: 0;
      padding: 10px;
    }

    .form-item {
      padding: 10px;
      border: 1px solid #ccc;

      .form-column {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-around;

        .error-message {
          color: red;
        }

        > label {
          margin: auto 30px;
        }

        > input {
          flex-grow: 1;
          margin: auto 10px;
        }
      }
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    width: 70%;
    h3 {
      border: 1px solid #ccc;
      margin: 0;
      padding: 10px;
    }
    .cart {
      border: 1px solid #ccc;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .cart-list {
        border: 1px solid #ccc;
        align-items: center;

        .cart-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 10px auto;
          gap: 10px;

          button {
            background-color: transparent;
            color: red;
            border: 1px solid red;
            cursor: pointer;
          }

          input {
            text-align: center;
            width: 100px;
          }

          .asdgasdl {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 50px;
            margin: auto 40px;
          }

          .asdfjnekj {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            margin: auto 40px;
          }
        }
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-content: center;

  button {
    background-color: #007bff;
    color: white;
    border: 1px solid #ccc;
    height: 35px;
    cursor: pointer;

    &:disabled {
      background-color: transparent;
      color: #999;
      cursor: not-allowed;
    }
  }
}
