<div class="container" [formGroup]="form">
  <div class="info">
    <h3>基本資料</h3>
    <div class="form-item">
      <div class="form-column">
        <label>姓名</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="form-column">
        <label>地址</label>
        <input type="text" formControlName="address" />
      </div>
      <div class="form-column">
        <label>電話</label>
        <input type="text" formControlName="phone" />
      </div>
    </div>
  </div>

  <div class="items">
    <div class="product">
      <h3>購買項目</h3>
      <div>
        1 產品
        <input type="text" />
        1850
        <button type="button">刪除</button>
      </div>
    </div>
  </div>
</div>

<div class="button">
  <button type="button">送出訂單 （）</button>
</div>

<pre>{{ form.value |json }}</pre>
